{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <nav aria-label="">
        <ol class="mt-50">
            <li class=""><a href="{% url 'home' %}">Home</a></li>
            <li class=""><a href="{% url 'all-product-list' %}">Products</a></li>
            <li class="">Product Details</li>
        </ol>
    </nav>

    <div class="grid grid-cols-2 gap-4 mt-8">
        <div class="h-[70vh] pt-4 border border-primary-color">
            <div id="product_details_slider" class="relative">
                <!-- Slider for product images -->
                <div class="flex">
                    {% for image in product.images %}
                        <div class="w-full">
                            <a href="{% static 'images/products/'|add:product.images.0 %}">
                                <img class="block w-full" src="{% static 'images/products/'|add:image %}" alt="Product Image" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="pb-5">
            <div class="mb-3 pb-2">
                <h6 class="text-primary-color text-xl uppercase font-medium">{{ product.title }}</h6>
                <h1 class="text-6xl font-bold text-tertiary-color">${{ product.price }}</h1>
            </div>
            <p class="text-lg text-font-color font-normal mb-4">{{ product.description }}</p>
            <div class="flex items-center justify-between mb-4">
                <div class="flex items-center">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <div><a href="#">Write A Review</a></div>
            </div>
            <p class="text-lg"><i class="fa fa-circle"></i> In Stock</p>
            <form class="mt-4" method="post">
                {% csrf_token %}
                <div class="flex mb-4 items-center">
                    <p class="mr-4">Qty</p>
                    <div class="flex items-center border border-gray-300 rounded">
                        <span class="px-2 py-1 cursor-pointer"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                        <input type="number" class="w-16 text-center border-none" name="quantity" value="1" />
                        <span class="px-2 py-1 cursor-pointer"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                    </div>
                </div>
                <button type="submit" class="btn-style">Add to cart</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
