{% load static %}
{% block content %}

<div class="container">
    <div class="mx-auto text-center my-6 max-w-[40vw]">
        <h6 class="text-primary-color text-xl uppercase font-medium">Products</h6>
        <h1 class="text-6xl font-bold text-tertiary-color">Our Fresh & Organic Products</h1>
    </div>
    <div class="grid grid-cols-4 gap-4">
        {% for product in products %}
            <div class="relative bg-bg-color p-4 rounded shadow">
                <img class="mb-4 w-full" src="{{ product.main_image.image.url }}" alt="{{ product.title }}" />
                <div class="text-center">
                    <h6 class="mb-3">{{ product.title }}</h6>
                    <h5 class="mb-0">${{ product.price }}</h5>
                    <div class="flex justify-center mt-2">
                        <a class="py-2 px-3" href="{{ product.get_absolute_url }}"><i class="fa-solid fa-cart-shopping"></i></a>
                        <a class="py-2 px-3" href="{{ product.get_absolute_url }}"><i class="fa-regular fa-eye"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
