{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="">
    <div class="relative">
        <img src="{% static 'assets/images/carousel-2.jpg' %}" class="h-[40vh]" alt=""/>
        <div class="absolute t-[10vh]">
            <h3 class="text-font-light">Activate Account</h3>
            <div class="flex">
                <a class="text-base text-font-light font-medium mr-2 no-underline" href="/">Home</a>
                <i class="text-base text-font-light font-medium mr-2 no-underline fa fa-angle-double-right"></i>
                <p class="text-base text-font-light font-medium mr-2 no-underline">Activate Account</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="grid bg-card-bg rounded-md p-4">
            <div class="lg:col-span-12 md:col-span-6 sm:col-span-6">
                <h4 class="text-4xl font-medium">Account Activation</h4>
                <p>Please check your email for the activation link.</p>
            </div>
        </div>
    </div>
</div>

{% if messages %}
<div class="fixed top-4 right-4 z-50" id="popup-message">
    {% for message in messages %}
        <div class="bg-green-500 text-white p-4 rounded shadow-lg">
            {{ message }}
        </div>
    {% endfor %}
</div>
<script>
    setTimeout(function() {
        var messageElement = document.getElementById('popup-message');
        if (messageElement) {
            messageElement.style.display = 'none';
        }
    }, 5000);
</script>
{% endif %}
{% endblock %}
