{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="">
    <div class="relative">
        <img src="{% static 'assets/images/carousel-2.jpg' %}" class="h-[40vh]" alt=""/>
        <div class="absolute t-[10vh]">
            <h3 class="text-font-light">Registration</h3>
            <div class="flex">
                <a class="text-base text-font-light font-medium mr-2 no-underline" href="/">Home</a>
                <i class="text-base text-font-light font-medium mr-2 no-underline fa fa-angle-double-right"></i>
                <p class="text-base text-font-light font-medium mr-2 no-underline">Registration</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="grid bg-card-bg rounded-md p-4">
            <div class="lg:col-span-12 md:col-span-6 sm:col-span-6">
                <h4 class="text-4xl font-medium">Create a new account</h4>
                <form method="POST" class="space-y-4">
                    {% csrf_token %}
                    <div class="mt-2 mb-2">
                        <label for="email" class="font-base mt-2 mb-2">Email Address <span>*</span></label>
                        <input type="email" name="email" id="email" class="form-input w-full" placeholder="Email" value="{{ form.email.value }}" required />
                        {% if form.email.errors %}
                        <div class="text-red-600 text-sm">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mt-2 mb-2">
                        <label for="username" class="font-base mt-2 mb-2">Username <span>*</span></label>
                        <input type="text" name="username" id="username" class="form-input w-full" placeholder="Username" value="{{ form.username.value }}" required />
                        {% if form.username.errors %}
                        <div class="text-red-600 text-sm">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mt-2 mb-2">
                        <label for="password" class="font-base mt-2 mb-2">Password <span>*</span></label>
                        <input type="password" name="password" id="password" class="form-input w-full" placeholder="Password" required />
                        {% if form.password.errors %}
                        <div class="text-red-600 text-sm">{{ form.password.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mt-2 mb-2">
                        <label for="confirm_password" class="font-base mt-2 mb-2">Confirm Password <span>*</span></label>
                        <input type="password" name="confirm_password" id="confirm_password" class="form-input w-full" placeholder="Confirm Password" required />
                        {% if form.confirm_password.errors %}
                        <div class="text-red-600 text-sm">{{ form.confirm_password.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn-primary">Sign Up</button>
                </form>
                <div class="mt-4">
                    {% comment %} <a href="{% url 'social:begin' 'google' %}" class="btn-secondary text-primary-color flex items-center justify-center">
                        <i class="fa fa-google mr-2"></i> Sign Up with Google
                    </a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if messages %}
<div class="fixed top-4 right-4 z-50" id="popup-message">
    {% for message in messages %}
        <div class="bg-green-500 text-white p-4 rounded shadow-lg">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% block scripts %}
<script>
    // Automatically hide the message after 5 seconds
    setTimeout(function() {
        var messageElement = document.getElementById('popup-message');
        if (messageElement) {
            messageElement.style.display = 'none';
        }
    }, 5000);
</script>
{% endblock %}

{% endif %}

{% endblock %}
