{% load static %}

<div class='container'>
  <div class="mb-5">
      <h2 class="mb-4">Tag Cloud</h2>
      <div class="flex flex-wrap">
          <a href="" class="m-1">Design</a>
          <a href="" class="m-1">Development</a>
          <a href="" class="m-1">Marketing</a>
          <a href="" class="m-1">SEO</a>
          <a href="" class="m-1">Writing</a>
          <a href="" class="m-1">Consulting</a>
          <a href="" class="m-1">Design</a>
          <a href="" class="m-1">Development</a>
          <a href="" class="m-1">Marketing</a>
          <a href="" class="m-1">SEO</a>
          <a href="" class="m-1">Writing</a>
          <a href="" class="m-1">Consulting</a>
      </div>
  </div>
</div>