{% load static %}

<div class='categories'>
  <div class="mb-5">
      <h2 class="mb-4">Categories</h2>
      <div class="flex justify-start p-4">
          <a class=" text-font-light mb-2" href="#"><FaArrowRight />Web Design</a>
          <a class=" text-font-light mb-2" href="#"><FaArrowRight />Web Development</a>
          <a class=" text-font-light mb-2" href="#"><FaArrowRight />Web Development</a>
          <a class=" text-font-light mb-2" href="#"><FaArrowRight />Keyword Research</a>
          <a class=" text-font-light" href="#"><FaArrowRight />Email Marketing</a>
      </div>
  </div>
</div>