{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="grid justify-start">
    <div class="col-span-8 text-center">
      <h1 class="text-font-light">Blog Grid</h1>
      <a href="" class="me-3">Home</a>
      <a href="">Blog Grid</a>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for article in articles %}
    <div class="relative overflow-hidden">
      <img class="w-full h-48 object-cover" src="{{ article.images.first.image.url }}" alt="{{ article.title }}" />
      {% comment %} <a class="absolute inset-0 flex flex-col justify-end p-4 bg-gradient-to-t from-black to-transparent" href="{% url 'blogs:article_detail' article.slug %}"> {% endcomment %}
        <h4 class="text-font-light text-lg">{{ article.title }}</h4>
        <span class="text-font-light text-sm">{{ article.created|date:"M d, Y" }}</span>
      </a>
    </div>
    {% endfor %}
  </div>

  <div class="mt-6">
    <nav aria-label="Page navigation">
      <ul class="flex justify-center space-x-2">
        {% if page_obj.has_previous %}
        <li>
          <a class="btn-style" href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true"><FaArrowLeft /></span></a>
        </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
        {% comment %} <li>
          <a class="btn-style {{ page_obj.number == num|yesno:"bg-primary-color,text-white," }}" href="?page={{ num }}">{{ num }}</a>
        </li> {% endcomment %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li>
          <a class="btn-style" href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true"><FaArrowRight /></span></a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
