{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class='container'>
  <div class="grid justify-start">
    <div class="col-span-8 text-center">
      <h1 class="text-font-light">Blog Detail</h1>
      <a href="" class="me-3">Home</a>
      <a href="#" class="">Blog Detail</a>
    </div>
  </div>

  <div class="grid">
    <div class="col-span-8">
      <div class="mb-5">
        {% if article.images.all %}
          <div class="grid mb-5">
            {% for image in article.images.all %}
              <div class="col-span-6">
                <img class="w-full h-auto object-cover" src="{{ image.image.url }}" alt="{{ article.title }}" />
              </div>
            {% endfor %}
          </div>
        {% endif %}
        <h1 class="mb-4">{{ article.title }}</h1>
        <p>{{ article.description }}</p>
      </div>

      <div class="mb-5">
        <h2 class="mb-4">{{ article.articlecomment_set.count }} Comments</h2>
        {% for comment in article.articlecomment_set.all %}
          <div class="flex mb-4">
            <img src="{% static 'assets/img/user.jpg' %}" class="w-12 h-12 rounded-full" alt="User" />
            <div class="ps-3">
              <h6><a href="">{{ comment.customer }}</a> <small><i>{{ comment.created|date:"d M Y" }}</i></small></h6>
              <p>{{ comment.comment }}</p>
              <button class="btn-style">Reply</button>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="p-5">
        <h2 class="text-font-light mb-4">Leave a comment</h2>
        <form method="post" action="{% url 'blogs:add_comment' article.slug %}">
          {% csrf_token %}
          <div class="grid">
            <div class="col-span-12">
              <input type="text" name="name" class="bg-bg-color border-0" placeholder="Your Name" />
            </div>
            <div class="col-span-12">
              <input type="email" name="email" class="bg-bg-color border-0" placeholder="Your Email" />
            </div>
            <div class="col-span-12">
              <input type="text" name="website" class="bg-bg-color border-0" placeholder="Website" />
            </div>
            <div class="col-span-12">
              <textarea name="comment" class="bg-bg-color border-0" placeholder="Comment"></textarea>
            </div>
            <div class="col-span-12">
              <button class="w-100 py-3" type="submit">Leave Your Comment</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-span-4">
      <div class="mb-5">
        <div class="">
          <input type="text" class="p-3" placeholder="Keyword" />
          <button class="px-4"><FaSearch /></button>
        </div>
      </div>

      {% include 'core/categories.html' %}
      {% include 'core/recentpost.html' %}

      <div class="mb-5">
        <img src="{% static 'assets/img/blog-1.jpg' %}" alt="" class="rounded" />
      </div>

      {% include 'core/blogtags.html' %}

      <div>
        <h2 class="mb-4">Plain Text</h2>
        <div class="text-center text-font-light">
          <p>Vero sea et accusam justo dolor accusam lorem consetetur, dolores sit amet sit dolor clita kasd justo, diam accusam no sea ut tempor magna takimata, amet sit et diam dolor ipsum amet diam</p>
          <a href="#" class="btn-style">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
