{% load static %}

<div class="container">
  <div class="mx-auto text-center my-6 max-w-[40vw]" >
    <h6 class="text-primary-color text-xl uppercase font-medium">Our Blog</h6>
    <h1 class="text-6xl font-bold text-tertiary-color">Latest Articles From Our Blog Post</h1>
  </div>
  <div class="grid grid-flow-col gap-4">
    <div class="col-span-4">
      <div class="relative">
        <img class="" src="{% static 'assets/images/blog-1.jpg' %}" alt="" />
        <a class="absolute top-0" href="">
          <h4 class="text-font-light">Lorem elitr magna stet eirmod labore amet</h4>
          <span class="text-font-light">Jan 01, 2050</span>
        </a>
      </div>
    </div>
    <div class="col-span-4">
      <div class="relative">
        <img class="" src="{% static 'assets/images/blog-2.jpg' %}" alt="" />
        <a class="absolute top-0" href="">
          <h4 class="text-font-light">Lorem elitr magna stet eirmod labore amet</h4>
          <span class="text-font-light">Jan 01, 2050</span>
        </a>
      </div>
    </div>
    <div class="col-span-4">
      <div class="relative">
        <img class="" src="{% static 'assets/images/blog-3.jpg' %}" alt="" />
        <a class="absolute top-0" href="">
          <h4 class="text-font-light">Lorem elitr magna stet eirmod labore amet</h4>
          <span class="text-font-light">Jan 01, 2050</span>
        </a>
      </div>
    </div>
  </div>
</div>