{% load static %}

<div class="container">
  <div class="grid grid-cols-2 gap-4 mt-8">
    <div class="h-[70vh] pt-4 border border-primary-color">
      <Image class="mx-auto" src="{% static 'assets/images/about.png' %}" alt='' />
    </div>
    <div class="pb-5">
      <div class="mb-3 pb-2">
        <h6 class="text-primary-color text-xl uppercase font-medium">About Us</h6>
        <h1 class="text-6xl font-bold text-tertiary-color">We Produce Organic Food For Your Family</h1>
      </div>
      <p class="text-lg text-font-color font-normal mb-4">Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum et tempor sit. Clita erat ipsum et
        lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet
        magna</p>
      <div class="grid grid-cols-2 gap-4">
        <div class="grid items-center p-4">
          <a href="" class="text-6xl font-bold text-tertiary-color mr-4"><i class="fa-solid fa-seedling"></i></a>
          <h4 class="text-2xl font-bold text-tertiary-color mr-4" >100% Organic</h4>
          <p class="text-lg font-normal text-font-color mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
        <div class="grid items-center p-4">
          <a href="" class="text-6xl font-bold text-tertiary-color mr-4"><i class="fa-solid fa-award"></i></a>
          <h4 class="text-2xl font-bold text-tertiary-color mr-4" >Award Winning</h4>
          <p class="text-lg font-normal text-font-color mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary-color">
  <div class="container">
    <div class="grid grid-cols-4 py-14">
      <div class="">
        <div class="flex">
          <div class="text-xl text-font-light p-2 bg-secondary-color rounded-full"><i class="fa-solid fa-star"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-3xl font-semibold text-white">Our Experience</h5>
            <h1 class="text-5xl font-bold text-white mb-0">12345</h1>
          </div>
        </div>
      </div>
      <div class="">
        <div class="flex">
          <div class="text-xl text-font-light p-2 bg-secondary-color rounded-full"><i class="fa-solid fa-users"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-3xl font-semibold text-white">Farm Specialist</h5>
            <h1 class="text-5xl font-bold text-white mb-0">12345</h1>
          </div>
        </div>
      </div>
      <div class="">
        <div class="flex">
          <div class="text-xl text-font-light p-2 bg-secondary-color rounded-full"><i class="fa-solid fa-check"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-3xl font-semibold text-white">Complete Project</h5>
            <h1 class="text-5xl font-bold text-white mb-0">12345</h1>
          </div>
        </div>
      </div>
      <div class="">
        <div class="flex">
          <div class="text-xl text-font-light p-2 bg-secondary-color rounded-full"><i class="fa-solid fa-mug-hot"></i>
          </div>
          <div class="ps-4">
            <h5 class="text-3xl font-semibold text-white">Happy Clients</h5>
            <h1 class="text-5xl font-bold text-white mb-0">12345</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>