{% load static %}

<div class="container">
  <div class="grid grid-flow-col">
    <div class="col-span-6 mb-5">
      <div class="flex h-100 pt-4 border border-primary-color">
        <Image class="mt-auto mx-auto" src="{% static 'assets/images/about.png' %}" alt='' />
      </div>
    </div>
    <div class="col-span-6 pb-5">
      <div class="mb-3 pb-2">
        <h6 class="uppercase text-xl font-semibold text-primary-color">About Us</h6>
        <h1 class="text-4xl font-bold text-tertiary-color">We Produce Organic Food For Your Family</h1>
      </div>
      <p class="mb-4">Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum et tempor sit. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet magna</p>
      <div class="grid grid-flow-col">
        <div class="col-span-6 flex p-4">
          <FaSlideshare class="text-xl text-tertiary-color mr-4" />
          <h4>100% Organic</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
        <div class="col-span-6 flex p-4">
          <FaAward class="text-xl text-tertiary-color mr-4" />
          <h4>Award Winning</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-primary-color">
  <div class="container grid grid-flow-col">
    <div class="col-span-3 col-md-6">
      <div class="flex">
        <div class="rounded flex items-center justify-center mb-3" >
          <FaStar />
        </div>
        <div class="ps-4">
          <h5 class="text-white">Our Experience</h5>
          <h1 class="text-white mb-0">12345</h1>
        </div>
      </div>
    </div>
    <div class="col-span-3 col-md-6">
      <div class="flex">
        <div class="rounded flex items-center justify-center mb-3" >
          <FaUser />
        </div>
        <div class="ps-4">
          <h5 class="text-white">Farm Specialist</h5>
          <h1 class="text-white mb-0">12345</h1>
        </div>
      </div>
    </div>
    <div class="col-span-3 col-md-6">
      <div class="flex">
        <div class="rounded flex items-center justify-center mb-3" >
          <FaCheck />
        </div>
        <div class="ps-4">
          <h5 class="text-white">Complete Project</h5>
          <h1 class="text-white mb-0">12345</h1>
        </div>
      </div>
    </div>
    <div class="col-span-3 col-md-6">
      <div class="flex">
        <div class="rounded flex items-center justify-center mb-3" >
          <FaMugHot />
        </div>
        <div class="ps-4">
          <h5 class="text-white">Happy Clients</h5>
          <h1 class="text-white mb-0">12345</h1>
        </div>
      </div>
    </div>
  </div>
</div>