{% load static %}

<div class="">
  {% for item in banners %}
  <div class="relative">
    <div class="relative">
      <Image class="w-screen h-screen" src={{item.image}} alt="Image" />
      <div class="absolute top-0">
        <h3 class="text-font-light text-3xl font-semibold m-4">{{item.title}}</h3>
        <h1 class="text-font-light text-5xl font-semibold m-4">{{item.subtitle}}</h1>
        <div class="flex m-4">
          <a href="" class="btn-primary">Explore</a>
          <a href="" class="btn-secondary">Contact</a>
        </div>
      </div>
    </div>
    <div class="absolute top-0 py-auto justify-between">
      <button class="text-5xl font-medium" type="button">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="text-5xl font-medium" type="button">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
  {% endfor %}

  <div class="container transform -translate-y-[40%]">
    <div class="grid grid-cols-2">
      <div class="grid justify-center bg-primary-color relative" >
        <img class="" src="{% static 'assets/images/bg-product-1.png' %}" alt="Image" />
        <div class="p-5 absolute">
          <h3 class="text-3xl font-semibold text-font-light mb-3">Organic Vegetables</h3>
          <p class="text-xl font-normal text-font-light">Dolor magna ipsum elitr sea erat elitr amet ipsum stet justo dolor, amet lorem diam no duo sed dolore amet diam</p>
        </div>
      </div>
      <div class="grid justify-center bg-secondary-color relative" >
        <Image class="" src="{% static 'assets/images/bg-product-2.png' %}" alt="Image" />
        <div class="p-5 absolute">
          <h3 class="text-3xl font-semibold text-font-light mb-3">Organic Fruits</h3>
          <p class="text-xl font-normal text-font-light">Dolor magna ipsum elitr sea erat elitr amet ipsum stet justo dolor, amet lorem diam no duo sed dolore amet diam</p>
        </div>
      </div>
    </div>
  </div>
</div>