{% load static %}

<div class="">
  {%if banners%}
  {% for item in banners %}
  <div class="relative">
    <div class="relative">
      <img class="w-screen h-screen" src="{{ item.image }}" alt="Image" />
      <div class="absolute top-0">
        <h3 class="text-font-light text-3xl font-semibold m-4">{{item.title}}</h3>
        <h1 class="text-font-light text-5xl font-semibold m-4">{{item.subtitle}}</h1>
        <div class="flex m-4">
          <a href="" class="btn-primary">Explore</a>
          <a href="" class="btn-secondary">Contact</a>
        </div>
      </div>
    </div>
    <div class="absolute top-0 py-auto justify-between">
      <button class="text-5xl font-medium" type="button">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="text-5xl font-medium" type="button">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
  {% empty %}
  {% endfor %}
  {% else %}
  <p>No banners available.</p>
{% endif %}

  <div class="container transform -translate-y-[40%]">
    <div class="grid grid-cols-2">
      {%if featured%}
      {% for item in featured %}
      <div class="grid justify-center relative" style="background-color: calc(var(--color{{ loop.counter }}))">
        <img class="" src="{{ item.image }}" alt="Image" />
        <div class="p-5 absolute">
          <h3 class="text-3xl font-semibold text-font-light mb-3">{{ item.title }}</h3>
          <p class="text-xl font-normal text-font-light">{{ item.subtitle }}</p>
        </div>
      </div>
      {% empty %}
      {% endfor %}
      {% else %}
  <p>No featured available.</p>
{% endif %}
    </div>
  </div>
</div>
