{% load static %}

<div class="bg-primary-color">
  <div class="container py-5">
    <div class="mx-auto text-center mb-3 pb-2" >
      <h6 class="uppercase">Features</h6>
      <h1 class=" text-font-light">Why Choose Us!!!</h1>
    </div>
    <div class="grid grid-flow-col">
      <div class="col-span-3">
        <div class="text-font-light mb-5">
          <div class="flex items-center justify-center mb-3" >
            <FaSeedling />
          </div>
          <h4 class="text-font-light">100% Organic</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
        <div class="text-font-light">
          <div class="flex items-center justify-center mb-3" >
            <FaAward />
          </div>
          <h4 class="text-font-light">Award Winning</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="d-block bg-font-light h-100 text-center p-5 pb-lg-0">
          <p>At et justo elitr amet sea at. Magna et sit vero at ipsum sit et dolores rebum. Magna sea eos sit dolor, ipsum amet no tempor ipsum eirmod lorem eirmod diam tempor dolor eos diam et et diam dolor ea. Clita est rebum amet dolore sit. Dolor stet dolor duo clita, vero dolor ipsum amet dolore magna lorem erat stet sed vero dolor</p>
          <Image class="" src="{% static 'assets/images/feature.png' %}" alt="" />
        </div>
      </div>
      <div class="col-span-3">
        <div class="text-font-light mb-5">
          <div class="flex items-center justify-center mb-3" >
            <FaTractor />
          </div>
          <h4 class="text-font-light">Modern Farming</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
        <div class="text-font-light">
          <div class="flex items-center justify-center mb-3" >
            <FaPhone />
          </div>
          <h4 class="text-font-light">24/7 Support</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
      </div>
    </div>
  </div>
</div>