{% load static %}

<div class="bg-primary-color">
  <div class="container pt-8">
    <div class="mx-auto text-center my-4" >
      <h6 class="text-secondary-color text-xl uppercase font-medium">Features</h6>
      <h1 class=" text-6xl font-bold text-font-light">Why Choose Us!!!</h1>
    </div>
    <div class="grid grid-flow-col">
      <div class="col-span-3">
        <div class="grid items-center p-4">
          <a href="" class="text-3xl font-bold text-font-light mr-4 bg-secondary-color h-12 w-12 rounded-full p-2"><i class="fa-solid fa-seedling"></i></a>
          <h4 class="text-2xl font-bold text-font-light mr-4" >100% Organic</h4>
          <p class="text-lg font-normal text-font-light mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
        <div class="grid items-center p-4">
          <a href="" class="text-3xl font-bold text-font-light mr-4 bg-secondary-color h-12 w-12 rounded-full p-2"><i class="fa-solid fa-award"></i></a>
          <h4 class="text-2xl font-bold text-font-light mr-4" >Award Winning</h4>
          <p class="text-lg font-normal text-font-light mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
      </div>
      <div class="col-span-6">
        <div class="block bg-font-light text-center p-8">
          <p class="text-lg font-normal text-font-color">At et justo elitr amet sea at. Magna et sit vero at ipsum sit et dolores rebum. Magna sea eos sit dolor, ipsum amet no tempor ipsum eirmod lorem eirmod diam tempor dolor eos diam et et diam dolor ea. Clita est rebum amet dolore sit. Dolor stet dolor duo clita, vero dolor ipsum amet dolore magna lorem erat stet sed vero dolor</p>
          <Image class="" src="{% static 'assets/images/feature.png' %}" alt="" />
        </div>
      </div>
      <div class="col-span-3">
        <div class="grid items-center p-4">
          <a href="" class="text-3xl font-bold text-font-light mr-4 bg-secondary-color h-12 w-12 rounded-full p-2"><i class="fa-solid fa-tractor"></i></a>
          <h4 class="text-2xl font-bold text-font-light mr-4">Modern Farming</h4>
          <p class="text-lg font-normal text-font-light mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
        <div class="grid items-center p-4">
          <a href="" class="text-3xl font-bold text-font-light mr-4 bg-secondary-color h-12 w-12 rounded-full p-2"><i class="fa-solid fa-phone"></i></a>
          <h4 class="text-2xl font-bold text-font-light mr-4">24/7 Support</h4>
          <p class="text-lg font-normal text-font-light mb-0">Labore justo vero ipsum sit clita erat lorem magna clita</p>
        </div>
      </div>
    </div>
  </div>
</div>