{% load static %}
<div class="container">
  <div class="px-5 block">
    <div class="grid grid-flow-col items-center py-4">
      <div class="col-span-3 flex items-center justify-start">
        <FaPhoneVolume class="mr-2 text-3xl font-semibold text-primary-color" />
        <h2 class="mb-0 text-3xl font-semibold">+012 345 6789</h2>
      </div>
      <div class="col-span-6 flex items-center justify-center">
        <a href="/" class="">
          <h1 class="m-0 text-4xl font-semibold text-primary-color"><span class="text-secondary-color">Farm</span>Fresh</h1>
        </a>
      </div>
      <div class="col-span-3 flex items-center justify-end">
        <a class='mr-2 ml-2 text-4xl font-semibold bg-primary-color text-secondary-color p-2 rounded-full' href="#"><i class="fa-brands fa-twitter"></i></a>
        <a class='mr-2 ml-2 text-4xl font-semibold bg-primary-color text-secondary-color p-2 rounded-full' href="#"><i class="fa-brands fa-facebook"></i></a>
        <a class='mr-2 ml-2 text-4xl font-semibold bg-primary-color text-secondary-color p-2 rounded-full' href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a class='mr-2 ml-2 text-4xl font-semibold bg-primary-color text-secondary-color p-2 rounded-full' href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>


<nav class="bg-primary-color">
  <div class="container flex">
    <div class="mx-auto flex pt-6 pb-6 justify-evenly">
      <a href="/" class="nav-link uppercase font-semibold">Home</a>
      <a href="/about" class="nav-link uppercase font-semibold">About</a>
      <a href="/service" class="nav-link uppercase font-semibold">Service</a>
      <a href="/product" class="nav-link uppercase font-semibold">Product</a>
      <div class="nav-item">
        <a href="#" class="nav-link uppercase font-semibold">Pages</a>
        <div class="m-0 p-5 hidden bg-bg-color">
          <a href="/blog" class="text-font-color">Blog Grid</a>
          <a href="/detail" class="text-font-color">Blog Detail</a>
          <a href="/feature" class="text-font-color">Features</a>
          <a href="/team" class="text-font-color">The Team</a>
          <a href="/testimonial" class="text-font-color">Testimonial</a>
        </div>
      </div>
      <a href="/contact" class="nav-link uppercase font-semibold">Contact</a>
    </div>
  </div>
</nav>