{% load static %}

<div class="container">
  <div class="grid grid-flow-col">


    <div class="grid grid-flow-col">
      <div class="col-span-4">
        <div class="mb-3">
          <h6 class="uppercase">Services</h6>
          <h1 class="">Organic Farm Services</h1>
        </div>
        <p class="mb-4">Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum et tempor sit. Clita erat ipsum et
          lorem et sit sed stet labore</p>
        <a href="" class="btn-style">Contact Us</a>
      </div>
      <div class="col-span-4 bg-green-200">
        <div class="text-center p-5">
          <h4>Healty Cattle</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
      </div>
      <div class="col-span-4 bg-green-200">
        <div class="text-center p-5">
          <h4>Healty Cattle</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
      </div>
      <div class="col-span-4 bg-green-200">
        <div class="text-center p-5">
          <h4>Healty Cattle</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
      </div>
      <div class="col-span-4 bg-green-200">
        <div class="text-center p-5">
          <h4>Healty Cattle</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
      </div>
      <div class="col-span-4 bg-green-200">
        <div class="text-center p-5">
          <h4>Healty Cattle</h4>
          <p class="mb-0">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
        </div>
      </div>
    </div>
  </div>
</div>