{% load static %}

<div class="container my-20">
  <div class="grid grid-cols-3 gap-6">
    <div class="h-[30vh] max-w-[30vw] my-3">
      <div class="mb-3">
        <h6 class="text-primary-color text-xl uppercase font-medium">Services</h6>
        <h1 class="text-6xl font-bold text-tertiary-color">Organic Farm Services</h1>
      </div>
      <p class="text-xl font-normal text-font-color my-4">Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum et tempor sit. Clita erat ipsum et
        lorem et sit sed stet labore</p>
      <a href="" class="btn-primary">Contact Us</a>
    </div>
    <div class="h-[30vh] max-w-[30vw] my-3 bg-green-200 group hover:bg-primary-color">
      <div class="text-center p-8">
        <a href=""><i class="fa-solid fa-carrot text-6xl font-bold"></i></a>
        <h4 class="text-3xl font-bold text-font-color my-2 group-hover:text-font-light">Healty Cattle</h4>
        <p class="text-lg font-normal text-font-color group-hover:text-font-light">Labore justo vero ipsum sit clita erat lorem magna clita nonumy dolor magna dolor vero</p>
      </div>
    </div>
    <div class="h-[30vh] max-w-[30vw] my-3 bg-green-200 group hover:bg-primary-color">
      <div class="text-center p-8">
        <a href=""><i class="fa-brands fa-apple text-6xl font-bold"></i></a>
        <h4 class="text-3xl font-bold text-font-color my-2 group-hover:text-font-light">Fresh Fruits</h4>
        <p class="text-lg font-normal text-font-color group-hover:text-font-light">Labore justo vero ipsum sit clita erat
          lorem magna clita nonumy dolor magna dolor vero</p>
      </div>
    </div>
    <div class="h-[30vh] max-w-[30vw] my-3 bg-green-200 group hover:bg-primary-color">
      <div class="text-center p-8">
        <a href=""><i class="fa-solid fa-dog text-6xl font-bold"></i></a>
        <h4 class="text-3xl font-bold text-font-color my-2 group-hover:text-font-light">Healty Cattle</h4>
        <p class="text-lg font-normal text-font-color group-hover:text-font-light">Labore justo vero ipsum sit clita erat
          lorem magna clita nonumy dolor magna dolor vero</p>
      </div>
    </div>
    <div class="h-[30vh] max-w-[30vw] my-3 bg-green-200 group hover:bg-primary-color">
      <div class="text-center p-8">
        <a href=""><i class="fa-solid fa-tractor text-6xl font-bold"></i></a>
        <h4 class="text-3xl font-bold text-font-color my-2 group-hover:text-font-light">Modern Truck</h4>
        <p class="text-lg font-normal text-font-color group-hover:text-font-light">Labore justo vero ipsum sit clita erat
          lorem magna clita nonumy dolor magna dolor vero</p>
      </div>
    </div>
    <div class="h-[30vh] max-w-[30vw] my-3 bg-green-200 group hover:bg-primary-color">
      <div class="text-center p-8">
        <a href=""><i class="fa-solid fa-seedling text-6xl font-bold"></i></a>
        <h4 class="text-3xl font-bold text-font-color my-2 group-hover:text-font-light">Farming Plans</h4>
        <p class="text-lg font-normal text-font-color group-hover:text-font-light">Labore justo vero ipsum sit clita erat
          lorem magna clita nonumy dolor magna dolor vero</p>
      </div>
    </div>
  </div>
</div>