{% load static %}

<div class="container">
  <div class="mx-auto text-center mb-5" >
    <h6 class="text-primary text-uppercase">The Team</h6>
    <h1 class="display-5">We Are Professional Organic Farmers</h1>
  </div>
  <div class="grid grid-flow-col gap-4">
      <div class="col-span-4">
        <div class="grid grid-flow-col">
          <div class="col-span-10">
            <div class="relative">
              <Image class="w-100" src="{% static 'assets/images/team-1.jpg' %}" alt="" />
              <div class="absolute start-0 bottom-0 w-100 py-3 px-4" >
                <h4 class="text-font-light">Farmer Name</h4>
                <span class="text-font-light">Designation</span>
              </div>
            </div>
          </div>
            <div class="col-span-2 h-100 grid items-center justify-around py-5">
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-twitter"></i></a>
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-facebook"></i></a>
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
      </div>
      <div class="col-span-4">
        <div class="grid grid-flow-col">
          <div class="col-span-10">
            <div class="relative">
              <Image class="w-100" src="{% static 'assets/images/team-2.jpg' %}" alt="" />
              <div class="absolute start-0 bottom-0 w-100 py-3 px-4" >
                <h4 class="text-font-light">Farmer Name</h4>
                <span class="text-font-light">Designation</span>
              </div>
            </div>
          </div>
            <div class="col-span-2 h-100 grid items-center justify-around py-5">
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-twitter"></i></a>
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-facebook"></i></a>
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
      </div>
      <div class="col-span-4">
        <div class="grid grid-flow-col">
          <div class="col-span-10">
            <div class="relative">
              <Image class="w-100" src="{% static 'assets/images/team-3.jpg' %}" alt="" />
              <div class="absolute start-0 bottom-0 w-100 py-3 px-4" >
                <h4 class="text-font-light">Farmer Name</h4>
                <span class="text-font-light">Designation</span>
              </div>
            </div>
          </div>
            <div class="col-span-2 h-100 grid items-center justify-around py-5">
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-twitter"></i></a>
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-facebook"></i></a>
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a class="rounded bg-bg-color" href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
      </div>
  </div>
</div>