{% load static %}

<div class="testimonial-section">
  <img class="h-[75vh] w-full" src="{% static 'path/to/your/banner-image.jpg' %}" alt="Banner Image" />

  <div class="container mx-auto">
    <div class="grid gap-8 bg-primary-color max-w-[50vw] mx-auto">
      
      {% for testimonial in testimonial %}
        <div class="text-center text-font-light p-12">
          <img class="mx-auto ring-4 ring-secondary-color p-2 rounded-full" src="{% static testimonial.image %}" alt="Client Image" />
          <p class="text-xl font-medium text-font-light my-4">
            {{ testimonial.text }}
          </p>
          <hr class="mx-auto max-w-sm my-4" />
          <h4 class="text-3xl font-medium text-font-light">
            {{ testimonial.client_name }}
          </h4>
        </div>
      {% empty %}
        <div class="text-center text-font-light p-12">
          <p class="text-xl font-medium text-font-light">
            No testimonials available at the moment.
          </p>
        </div>
      {% endfor %}
      
    </div>
  </div>
</div>
