{% load static %}

<div class="relative">
  <div class="bg-primary-color">
    <Image class="h-[60vh]" src="" alt="" />
  </div>
  <div class='container absolute top-0 left-0 p-28'>
    <div class="grid grid-cols-4 gap-4">
      <div class="pt-5 mb-5">
        <h4 class="text-font-light mb-4">Get In Touch</h4>
        <div class="flex mb-2">
          <i class="bi bi-geo-alt text-font-light me-2"></i>
          <p class="text-font-light mb-0">123 Street, New York, USA</p>
        </div>
        <div class="flex mb-2">
          <FaEnvelope />
          <p class="text-font-light mb-0">info@example.com</p>
        </div>
        <div class="flex mb-2">
          <FaPhone />
          <p class="text-font-light mb-0">+012 345 67890</p>
        </div>
        <div class="flex mt-4">
          <a class="me-2" href="#">
            <FaTwitter class="text-4xl text-font-light bg-secondary-color rounded-full p-2" />
          </a>
          <a class="me-2" href="#">
            <FaFacebook class="text-4xl text-font-light bg-secondary-color rounded-full p-2" />
          </a>
          <a class="me-2" href="#">
            <FaLinkedinIn class="text-4xl text-font-light bg-secondary-color rounded-full p-2" />
          </a>
          <a class="me-2" href="#">
            <FaInstagram class="text-4xl text-font-light bg-secondary-color rounded-full p-2" />
          </a>
        </div>
      </div>
      <div class="pt-0 pt-lg-5 mb-5">
        <h4 class="text-font-light mb-4">Quick Links</h4>
        <div class="grid justify-start">
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />Home
          </a>
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />About Us
          </a>
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />Our Services
          </a>
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />Meet The Team
          </a>
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />Latest Blog
          </a>
          <a class="text-font-light" href="#">
            <FaArrowRight class="text-font-light me-2" />Contact Us
          </a>
        </div>
      </div>
      <div class="pt-0 pt-lg-5 mb-5">
        <h4 class="text-font-light mb-4">Popular Links</h4>
        <div class="grid justify-start">
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />Home
          </a>
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />About Us
          </a>
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />Our Services
          </a>
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />Meet The Team
          </a>
          <a class="text-font-light flex mb-2" href="#">
            <FaArrowRight class="text-font-light me-2" />Latest Blog
          </a>
          <a class="text-font-light flex" href="#">
            <FaArrowRight class="text-font-light me-2" />Contact Us
          </a>
        </div>
      </div>
      <div class=" bg-secondary-color h-full">
        <div class="grid text-center p-5 items-center">
          <h4 class="text-font-light">Newsletter</h4>
          <h6 class="text-font-light">Subscribe Our Newsletter</h6>
          <p>Amet justo diam dolor rebum lorem sit stet sea justo kasd</p>
          <form action="">
            <div class="">
              <input type="text" class="form-control border-font-light p-3" placeholder="Your Email" />
              <button class="btn-primary hover:bg-green-500">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-tertiary-color text-font-light py-4 text-center">
    <p class="my-2 text-xl font-normal text-font-light">&copy; <a class="text-secondary-color" href="#">Your Site
        Name</a>. All Rights Reserved. Designed by <a class="text-secondary-color" href="https://htmlcodex.com">HTML
        Codex</a></p>
  </div>
</div>